.App {
  text-align: center;
}

body{
  background-color: #282c34;
}
nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #080312;
  border-bottom: 2px solid orange;
  padding: 10px;
}
.eslogan{
  display: flex;
  background-color: #080312;
  padding: 0;
  color: #fff;
  margin: 0px;
  width: 100%;
  flex-wrap: wrap;
}
h3{
  width: 90%;
}
@media (max-width : 900px){
  h3{
    display: none;
  }
}
.logoSearchNav{
  background-color: #080312;
  width: 10%;
}
.logo{
height: 60px;
margin-right: 300px;

}
.buttonContainer{
  width: 100%;
 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* @media (max-width: 767px){
  .buttonContainer{
    max-width: 100%;
  }
} */
.buttonNav{
  margin: 10px;
  --border-color: linear-gradient(-45deg, #ffae00, #7e03aa, #00fffb);
  --border-width: .125em;
  --curve-size: .5em;
  --blur: 30px;
  --bg: #080312;
  --color: #afffff;
  color: var(--color);
    /* use position: relative; so that BG is only for .btn */
  position: relative;
  isolation: isolate;
  display: inline-grid;
  place-content: center;
  padding: .5em 1.5em;
  font-size: 17px;
  border: 0;
  text-transform: uppercase;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, .6);
  clip-path: polygon(
            /* Top-left */
            0% var(--curve-size),

            var(--curve-size) 0,
            /* top-right */
            100% 0,
            100% calc(100% - var(--curve-size)),

            /* bottom-right 1 */
            calc(100% - var(--curve-size)) 100%,
            /* bottom-right 2 */
            0 100%);
  transition: color 250ms;
}
.buttonNav::after,
.buttonNav::before {
  content: '';
  position: absolute;
  inset: 0;
}
.buttonNav::before {
  background: var(--border-color);
  background-size: 300% 300%;
  animation: move-bg7234 5s ease infinite;
  z-index: -2;
}
@keyframes move-bg7234 {
  0% {
    background-position: 31% 0%
  }

  50% {
    background-position: 70% 100%
  }

  100% {
    background-position: 31% 0%
  }
}
.buttonNav::after {
  background: var(--bg);
  z-index: -1;
  clip-path: polygon(
            /* Top-left */
            var(--border-width) 
            calc(var(--curve-size) + var(--border-width) * .5),

            calc(var(--curve-size) + var(--border-width) * .5) var(--border-width),

            /* top-right */
            calc(100% - var(--border-width)) 
            var(--border-width),

            calc(100% - var(--border-width)) 
            calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),

            /* bottom-right 1 */
            calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) calc(100% - var(--border-width)),
            /* bottom-right 2 */
            var(--border-width) calc(100% - var(--border-width)));
  transition: clip-path 500ms;
}
.buttonNav:where(:hover, :focus)::after {
  clip-path: polygon(
                /* Top-left */
                calc(100% - var(--border-width)) 

                calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    
                calc(100% - var(--border-width))

                var(--border-width),
    
                /* top-right */
                calc(100% - var(--border-width))

                 var(--border-width),
    
                calc(100% - var(--border-width)) 

                calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),
    
                /* bottom-right 1 */
                calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) 
                calc(100% - var(--border-width)),

                /* bottom-right 2 */
                calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
                calc(100% - var(--border-width)));
  transition: 200ms;
}

.buttonNav:where(:hover, :focus) {
  color: #fff;
}

.cartContainer{
  color: #fff;
  padding-top: 20px;
  height: 25px;
  --border-color: linear-gradient(-45deg, #ffae00, #7e03aa, #00fffb);
  --border-width: .125em;
}

.Bienvenidos{
  color: #fff;
  text-align: center;
  margin: 0;
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  animation: glitch 3s infinite;
}

@keyframes glitch{
  0%{
    text-shadow:#7e03aa
    0px 0px, 
    #4df0e2 0px 0px;
  }
  50%{
    text-shadow:#7e03aa
    -8px 0px, 
    #ba4aff 0px 0px;
  }100%{
    text-shadow:#7e03aa
    0px 0px, 
    #4df0e2 0px 0px;
  }
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
